*{margin: 0;padding: 0;box-sizing: border-box;}
ul{list-style-type: none;}
a{text-decoration: none;}
.content img{
    width: 40%;
    display: block;
    margin: auto;
}
.content .wide{
    width: 70%;
}
.content div{
    width: 80%;
    margin: 3% auto 7%;
}
.content p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
.button{
    background-image: url("images/up.png");
    background-size: cover;
    height: 0px;
    width: 50px;
    position: fixed;
    right: 3%;
    bottom: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.button:hover{
    bottom: 18px;
}
@media screen and (max-width: 700px) {
    .content p{ 
       font-size: 0.9em; 
    }
}